<div id="<%= dom_id thought %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <p><%= thought.title %></p>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <p><%= thought.body %></p>
  </div>
</div>
